:root {
  --bg: rgb(255 255 255);
  --bg-invert: rgb(10% 10% 10% / 70%);
  --bg-table-even: rgb(30% 30% 30% / 10%);
  --bg-error: rgb(255 240 2 / 78%);
  --border: rgb(0 0 0 /50%);
  --text: rgb(26 26 26);
  --text-invert: rgb(100% 100% 100% / 70%);
  --link: rgb(0 140 255);
  --link-bg-visited: rgb(79 189 36 / 0.24);
}
.dark {
  --bg: rgb(10% 10% 10%);
  --bg-invert: rgb(255 255 255 / 70%);
  --bg-table-even: rgb(100% 100% 100% / 20%);
  --bg-error: rgb(153 25 25 / 77%);
  --border: rgb(100% 100% 100% /50%);
  --text: rgb(100% 100% 100%);
  --text-invert: rgb(26 26 26 / 70%);
  --link: rgb(11% 74% 100%);
  --link-bg-visited: rgb(55 0 255 / 49%);
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  background: var(--bg);
  color: var(--text);
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
button {
  background-color: transparent;
  border: 1px solid var(--border);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
table,
tr,
td,
th {
  border-collapse: collapse;
}
table caption {
  font-weight: bold;
}
th,
.bc-invert {
  background-color: var(--bg-invert);
  color: var(--text-invert);
}
th,
.ta-l {
  text-align: left;
}
.ta-c {
  text-align: center;
}
.ta-r {
  text-align: right;
}
.t-zebra:where(:nth-child(even)) {
  background-color: var(--bg-table-even);
}
.bc-error {
  background-color: var(--bg-error);
}
.wb-all {
  word-break: break-all;
}

.icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: var(--text);
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
.icon.-refresh {
  -webkit-mask-image: url(img/refresh.svg);
  mask-image: url(img/refresh.svg);
}
.icon.-icon {
  -webkit-mask-image: url(img/icon.svg);
  mask-image: url(img/icon.svg);
}
.icon.-clear {
  -webkit-mask-image: url(img/clear.svg);
  mask-image: url(img/clear.svg);
}
.icon.-remove {
  -webkit-mask-image: url(img/remove.svg);
  mask-image: url(img/remove.svg);
}
.icon.-remove.-small {
  width: 11px;
  height: 11px;
}
