:root{
	--bg: rgb(255 255 255);
	--bg-invert: rgb(10% 10% 10% / 70%);
	--bg-table-even: rgb(30% 30% 30% / 10%);
	--text: rgb(26 26 26);
	--text-invert: rgb(100% 100% 100% / 70%);
	--link: rgb(0 140 255);
	--link-bg-visited: rgb(79 189 36 / 0.24);
}
.dark {
	--bg: rgb(10% 10% 10%);
	--bg-invert: rgb(255 255 255 / 70%);
	--bg-table-even: rgb(70% 70% 70% / 10%);
	--text: rgb(100% 100% 100%);
	--text-invert: rgb(26 26 26 / 70%);
	--link: rgb(11% 74% 100%);
	--link-bg-visited: rgb(55 0 255 / 49%);
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background: var(--bg);
	color: var(--text);
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}


.ta-r {
	text-align: right;
}
.ta-c {
	text-align: center;
}